h1 {
    color: aqua;
}
 
p {
    color: blueviolet;
}

body {
    background-color: coral;
}


ol {
    list-style:decimal;

}


p {
    font-family: Arial, Helvetica, sans-serif;
  }


  
p.italic {
    font-style: italic;
  }

  
  ul.a {
    list-style-type: circle;
  }

  ol.d {
    list-style-type: lower-alpha;
  }